.root {
  display: grid;
  background-color: greenyellow;
  min-height: 90vh;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}
.header {
  display: flex;
  grid-area: header;
  background-color: blueviolet;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
  min-height: 5vh;
  padding: 10px;
}

.main {
  display: grid;
  grid-template-columns: repeat(autofit, minmax(150px 1fr));
  grid-template-rows: repeat(2, 150px);
  grid-template-areas: "main_container main_aside";
}
.main__container {
  display: grid;
  grid-area: main_container;
  text-align: start;
  padding: 10px;
  justify-items: center;
}
.main__aside {
  display: grid;
  padding: 10px;
  justify-items: center;
  padding-top: 15%;
}
.img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.item {
  background-color: black;
  min-height: 40px;
  width: 220px;
  justify-items: center;
  text-align: center;
  color: aliceblue;
}
.h1 {
  display: grid;
  font-size: large;
  font-family: "Jost", "sans-serif", "Times New Roman", "Times", "serif";
}
.button {
  background-color: white;
  width: fit-content;
  box-shadow: 0 0 15px greenyellow;
  right: 5px;
}
.footer {
  display: grid;
  grid-area: footer;
  padding: 40px;
  margin-top: 10px;
}
.menu {
  height: 20px;
  font-size: 10;
  justify-content: end;
}
@media screen and (min-width: 280px) and (max-width: 767px) {
  .h1 {
    font-size: 12;
    font-family: "Jost", "sans-serif", "Times New Roman", "Times", "serif";
  }
  .main {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "main_container" "main_aside";
  }
  .main__container {
    align-content: center;
  }
}
