.root {
  background-color: grey;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
.header {
  min-height: 50px;
  display: flex;
  background-color: darkgrey;
  justify-content: center;
}
.main {
  min-height: 170px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
}
.flex-container {
  width: 60%;
  background-color: gold;
  margin: auto;
  justify-content: space-between;
}
.images {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}
.item {
  margin: 10px 0;
}
.image {
  width: 40%;
  background-color: orange;
  margin: auto;
  padding: 20px;
}
.image_s {
  margin: 10px auto;
  width: 90%;
  background-color: orange;
  padding: 20px;
}
.aside {
  width: 40%;
  display: flex;
  background-color: greenyellow;
  justify-content: center;
  padding: 10px;
}
footer {
  background-color: grey;
  min-height: 50px;
  display: flex;
  /* justify-items: flex-end;*/
  justify-content: space-between;
  text-align: center;
  /* vertical-align: middle;*/
  padding: 10px;
}

.menu {
  width: 200px;
  background-color: whitesmoke;
  padding: 5px;
}
